{% extends "base.html"%}
{% block title %} Sign Up {% endblock%}
{% block content %} 

<form method="POST">
    <br>
    <h3 align="center" > Sign Up </h3>
    <div class="fomr-group">
        <lable for="email">Email Address: </label>
        <input 
            type="email"
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter Email"
        />
        
    </div>
    <div class="fomr-group">
            <lable for="firstName">First Name</label>
            <input 
                type="fistName"
                class="form-control" 
                id="firstName" 
                name="firstName" 
                placeholder="firstName"
            />
    </div>
    <div class="fomr-group">
        <lable for="password">Password : </label>
        <input 
            type="password"
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="Password"
        />
    </div>
    <div class="fomr-group">
        <lable for="password2">Password (Confirm) </label>
        <input 
            type="password"
            class="form-control" 
            id="password2" 
            name="password2" 
            placeholder="Confirm Password"
        />
    </div>
    <br>
    <button type="submit" class="btn btn-primary"> Submit </button>
</form>
{% endblock%}